*{
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container{
    height: 200px;
    width: 550px;
    background-color: #333;
    text-align: center;
}

#btn{
    cursor: pointer;
    height: 30px;
    width: 250px;
    border-radius: 10px;
    font-size: 20px;
}

#output{
    font-size: 26px;
    color: #fff;
}